.imagem { 
    margin-top: 10%;
}
.tamanho {
    width: 100%;
    height: auto;
}
.footer { 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c0d80f;
    color: black;
    text-align: left;
}
.redesSociais{
    float: right;    
    margin: 1%;
}
.zoom {
    padding: 5%;
    transition: transform .2s;
    margin: 0 auto;
  }
.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}