.margem {
  margin-top: 1%;
  margin-left: 15%;
}
.linha {
  border-left: 1px solid #c0d80f;
  height: 650px;
}
.linhaPequena1 {
  border-left: 1px solid #c0d80f;
  height: 325px;
}
.linhaPequena2 {
  border-left: 1px solid #c0d80f;
  height: 280px;
}
#logo{
  margin-top: 2%;
  margin-left: 4%;
  height: 8%;
  width: 8%;
}
.p1{
  font-size: 0.80vw;
}
.p2{
  font-size: 0.70vw;
}
.image1{
  height: 30%;
  width: 40%;
}
.image2{
  height: 35%;
  width: 40%;
}
.image3{
  height: 30%;
  width: 60%;
}
.image4{
  height: 35%;
  width: 65%;
}